<div class = 'panel-header'>
  <h2>Bowwows</h2>
</div>

<table>
  <tr>
    <th>Name</th>
    <th>City</th>
    <th>Breed</th>
    <th>Admission_date</th>
    <th>Healthy</th>
    <th>Trained</th>
    <th>Adoptable</th>
    <th>Adopted on</th>
    <th>Adopted by</th>
  </tr>

  <tr>
    <td><%= @dog.name %></td>
    <td><%= @dog.city %></td>
    <td><%= @dog.breed %></td>
    <td><%= @dog.admission_date %></td>
    <td><%= @dog.healthy %></td>
    <td><%= @dog.trained %></td>
    <td><%= @dog.adoptable %></td>
    <td><%= @dog.adopted_on %></td>
    <td>
      <%= @dog.owner.name if @dog.owner != nil %></td>
  </tr>
</table>
<div class = container>
    <% if @dog.adopted_by != nil %>
      <a href="/patrons/<%=  @dog.adopted_by %>">See owner</a>
    <% end %>
  <div class = form>
    <form action="/bowwows/<%= @dog.id %>/delete" method="post">
      <input type="submit" value="Delete" class="btn btn-green btn-block"/>
    </form>
  </div>
    <a href="/bowwows/<%= @dog.id %>/update">Update<a>
</div>
