<h1>Patrons</h1>

<div class = 'container'>
  <div class = 'table_header'>
    <table>
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Bio</th>
      </tr>
  </div>

  <div class = 'table_content'>
    <% for patron in @patrons %>
      <tr>
        <td><a href= "patrons/<%= patron.id %> "><%= patron.name %></td>
        <td><%= patron.address %></td>
        <td><%= patron.email %></td>
        <td><%= patron.phone %></td>
        <td><%= patron.bio %></td>
      </tr>
    <% end %>
  </div>
  </table>
</div>
