<h1>Patrons</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th>Address</th>
    <th></th>
    <th>Email</th>
    <th></th>
    <th>Phone</th>
    <th></th>
    <th>Bio</th>
    <th></th>
  </tr>

  <tr>
    <td><%= @patron.name %></td>
    <td>|</td>
    <td><%= @patron.address %></td>
    <td>|</td>
    <td><%= @patron.email %></td>
    <td>|</td>
    <td><%= @patron.phone %></td>
    <td>|</td>
    <td><%= @patron.bio %></td>
    <td>|</td>
  </tr>
</table>

<form action='/patrons/<%= @patron.id %>/delete' method='post'>
  <input type='submit' value='Delete' class="btn btn-green btn-block"/>
</form>

<a href='/patrons/<%= @patron.id %>/dogs'>See Dogs</a>

<a href="/patrons/<%= @patron.id %>/update">Update<a>
