<div class="container">
  <div class="panel">
    <div class="panel-header">
      <h2>Update Patron</h2>
    </div>

    <form action="/patrons/<%= @patron.id%>" method="post">

      <div class="field">
        <label for="name">name:</label>
        <input type="text" name="name" value="<%= @patron.name %>" />
      </div>

      <div class="field">
        <label for="address">adress:</label>
        <input type="text" name="address" value="<%= @patron.address %>" />
      </div>

      <div class="field">
        <label for="email">email:</label>
        <input type="text" name="email" value="<%= @patron.email %>" />
      </div>

      <div class="field">
        <label for="phone">phone:</label>
        <input type="text" name="phone" value="<%= @patron.phone %>" />
      </div>

      <div class="field">
        <label for="bio">bio:</label>
        <input type="text" name="bio" value="<%= @patron.bio %>" />
      </div>

      <input type="submit" name=:"" value="Update Patron"/>
    </form>
  </div>
</div>
